.content {
	margin-left: 118px;
	margin-top: 85px;
	padding-top: 68px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  align-items: flex-start;
	padding-right: 90px;
	.infos {
		width: 258px;
	}
	.graphs {
		display: flex;
		align-items: self-start;
		flex: 1;
		margin-right: 31px;
		margin-bottom: 30px;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
