.openApp {
	&.bg {
		background: rgba(0, 0, 0, 0.192);
	}
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.spring-spinner,
.spring-spinner * {
	box-sizing: border-box;
}

.spring-spinner {
	height: 60px;
	width: 60px;
}

.spring-spinner .spring-spinner-part {
	overflow: hidden;
	height: calc(60px / 2);
	width: 60px;
}

.spring-spinner .spring-spinner-part.bottom {
	transform: rotate(180deg) scale(-1, 1);
}

.spring-spinner .spring-spinner-rotator {
	width: 60px;
	height: 60px;
	border: calc(60px / 7) solid transparent;
	border-right-color: #e60000;
	border-top-color: #e60000;
	border-radius: 50%;
	box-sizing: border-box;
	-webkit-animation: spring-spinner-animation 3s ease-in-out infinite;
	animation: spring-spinner-animation 3s ease-in-out infinite;
	transform: rotate(-200deg);
}

@-webkit-keyframes spring-spinner-animation {
	0% {
		border-width: calc(60px / 7);
	}
	25% {
		border-width: calc(60px / 23.33);
	}
	50% {
		transform: rotate(115deg);
		border-width: calc(60px / 7);
	}
	75% {
		border-width: calc(60px / 23.33);
	}
	100% {
		border-width: calc(60px / 7);
	}
}

@keyframes spring-spinner-animation {
	0% {
		border-width: calc(60px / 7);
	}
	25% {
		border-width: calc(60px / 23.33);
	}
	50% {
		transform: rotate(115deg);
		border-width: calc(60px / 7);
	}
	75% {
		border-width: calc(60px / 23.33);
	}
	100% {
		border-width: calc(60px / 7);
	}
}
